* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scanner {
    background-color: #1D1D34;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.scanner__title {
    color: #FFFFFF;
}

.scanner__descr {
    color: #FFFFFF;
}